<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      body {
        margin-left:100px;
        margin-top:40px;
        max-width: 525px;
        line-height: 1.5;
        font-size: 15px;
        color: rgb(246, 243, 236);
        background-color: rgb(41, 36, 30);
        padding: 0 10px;
        font-family: Arial, Helvetica, sans-serif;
      }

      h1, h2, h3 {
        line-height: 1.25;
      }

      a {
        color: #74d8ff;
        text-decoration: underline;
      }

      a:visited {
        color: #c285ff;
      }
    </style>
  </head>
  <body>
    {{ content }}
  </body>
</html>

